*{
    box-sizing: border-box;
}

.row::after{
    content:"";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 20px;
}

body{
    text-align: center;
    font-family: Garamond, serif;
    background-color: #F3CEE8;
    color: azure;

}

p {
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.col-header{
    /*height: 10%;*/
    width: 90%;
    float: right;
    padding: 20px;
    border: 1px solid black;
}

.sidebar{
    color: black;
    grid-area: sidebar;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 0;
    top: 0;
    float: right;
    background-color: #F8E1E7;
    text-decoration-color: #E6F7F1;
    overflow-x: hidden;
    padding: 20px;
    border: 2px solid black;
}

.col-information{
    width: 40%;
    float: right;
    padding: 20px;
    border: 2px solid black;
}

.col-experience{
    width: 40%;
    float: right;
    padding: 20px;
    border: 2px solid black;
}
.col-education{
    width: 90%;
    float: right;
    padding: 20px;
    border: 2px solid black;
}



.row{

}


/*@keyframes changeColor {*/
/*    from {*/
/*        background-color: lightgoldenrodyellow;*/
/*    }*/
/*    to {*/
/*        background-color: lightskyblue;*/
/*    }*/
/*}*/
/*    div {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  background-color: lightgoldenrodyellow;*/
/*  animation-name: changeColor;*/
/*  animation-duration: 5s;*/
/*}*/



@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 90%;
    }

    [class*="sidebar"] {
        width: 10%;
    }

    body {
        background-color: #CECCE4;
        color:lightcyan;
    }
    .sidebar{
        color: black;
        background-color:#D8F9E7 ;
    }
}



/*!* The animation code *!*/
/*@keyframes changeColor {*/
/*from {background-color: yellowgreen;}*/
/*to {background-color: cadetblue;}*/
/*}*/
/*!* The element to apply the animation to *!*/
/*div {*/
/*!*width: 100px;*!*/
/*!*height: 100px;*!*/
/*background-color: tan;*/
/*animation-name: changeColor;*/
/*animation-duration: 1000st;*/
/*}*/